.Navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.Navigation .nav {
    margin: 5px;
    border: 2px solid #3395bd;
    border-radius: 5px;
    background-color: #525761;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.2s, background-color 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
}

.Navigation .nav:hover {
    cursor: pointer;
    color: #282c34;
    background-color: white;
}
